<div>
    <ul class="hr">
        <div ng-repeat="item in items track by $index">
            <li>
                <div class="card">
                    <p><img class="imgcard" ng-src="{{GetPhoto(item)}}"></p>
                    <img class="img-card-stat" title="Yes" ></img> 
                    <img class="img-card-stat" ng-src="{{GetImgStatus(item)}}">                   
                    <span class="text-primary span-size-fio" ng-bind="item.firstname+' '+item.lastname"></span >
                    <p class="text-muted"><span class="span-size" ng-bind="item.email"></span ></p>
                </div>
                </br>
            <li>
        </div>
    </ul>
</div>