<div class="container">

  <div class="jumbotron text-center col-md-12">
    <h1>Welcome to Grill Party!</h1>

    <p class="lead">
      <span ng-bind="vm.agreedCount()"></span> people will be there for sure.
    </p>

    <p class="lead">
      Register now and don't miss such a cool party!
    </p>

    <p>
      <button type="button" class="btn btn-lg btn-default" ng-click="vm.gotoElement('partyFaces')"><i
        class="fa fa-group"></i> Party Faces
      </button>
      <button type="button" class="btn btn-lg btn-success" ng-click="register()"><i
        class="glyphicon glyphicon-fire"></i> Register Now
      </button>
    </p>

    <p>
      With ♥ from EPAM
    </p>
  </div>
</div>