.logo{
    height: 70px;
    //margin: 0 0 5px 0;
}

.img-navbar{
    height: 25px;
    margin: 0 0 5px 0;
}
a {
	color: black;
	}

a:hover {
	color: midnightblue;
	font-style: oblique;
    font-weight: bold;
	}
