.logo{
    height: 70px;
}

.img-navbar{
    height: 25px;
    margin: 0 0 5px 0;
}

a:hover {
	color: midnightblue;
    font-weight: bold;
    text-decoration:none;
	}

.navbar{  
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1030;
    height: 60px;
    background-color: beige;
}

    
nav a{
    color: black;
	display:inline-block;
	font-size:16px;
	line-height:1;
	text-transform: uppercase;

	-webkit-transition:background-color 0.55s;
	-moz-transition:background-color 0.55s;
	transition:background-color 0.55s;
}      

ul.home .home,
ul.people .people,
ul.register .register,
ul.api .api{
	background-color: #ccc;
}