$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 80px;
  }
}

body {
    background: url(/assets/images/grass.jpg);
    background-size: cover;
}
.filter {
  margin: 30px 0 20px
}

.required, .error {
  color: red;
}

.form-control.ng-dirty.ng-invalid {
  border-color: rgba(255, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.5);
  transition: all 0.5s ease 0s;
}
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

//---
.view-animate-container {
  position:relative;
  height:100px!important;
  overflow: hidden; // из-за неё не работает скрол, разобратся почему и как исправить
}

.view-animate {
  padding:10px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  display:block;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:101px;
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}
//---
